.container_menu-bar > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}

.container_menu-bar > ul > li{
    font-weight: bold;
}

.container_menu-bar > ul > li > a:hover{
    color: rgb(53, 53, 236);
}